<div class="row mx-3 mt-2">
    <app-componente-botones-cabecera
      [tituloCabecera]="'Modificar cita - Sergio Gomis Sainz'"
      [botonRetroceder]="true"
      [botonCrearCita]="false"
      [botonCancelar]="false"
      [botonSalirPaciente]="false"
      [rutaRetroceder]="'administrativo/citas'"
    ></app-componente-botones-cabecera>
  </div>
  
  <div class="row mx-3 mt-2">
    <app-componente-confirmacion
      [textoConfirmacion]="'Cita modificada correctamente'"
      [textoBoton]="'Ir a citas'"
      [ruta]="'administrativo/citas'"
    ></app-componente-confirmacion>
  </div>