<div class="col-lg-12">
  <app-componente-botones-cabecera
    [tituloCabecera]="'Citas'"
    [botonRetroceder]="false"
    [botonCancelar]="false"
    [botonCrearCita]="true"
    [botonSalirPaciente]="false"
    [rutaRetroceder]="'administrativo/citas'"
    [rutaCancelar]="'administrativo/citas'"
    [rutaCrearCita]="'administrativo/crearCita'"
  ></app-componente-botones-cabecera>

  <table
    datatable
    class="row-border hover"
    id="tablaCitas"
    [dtOptions]="dtOptions"
  ></table>
</div>
