:host ::ng-deep th {
  justify-content: center;
  align-items: center;
  text-align: center;
}

:host ::ng-deep tbody {
  text-align: center;
}

:host ::ng-deep a {
  margin-right: 6px;
}

:host ::ng-deep .papelera {
  height: 26px;
}

:host ::ng-deep .sorting {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

:host ::ng-deep .even {
  height: 50px;
  transition: 0.15s ease;
}

:host ::ng-deep .odd {
  height: 50px;
  transition: 0.15s ease;
}

:host ::ng-deep .even:hover {
  background-color: #3569fd;
  cursor: pointer;
  color: white;
}
:host ::ng-deep .odd:hover {
  background-color: #3569fd;
  cursor: pointer;
  color: white;
}

:host ::ng-deep li {
  margin-top: 30px;
  margin-bottom: 10px;
}

:host ::ng-deep .citaCancelada {
  background-color: #ffacac;
  color: #ff0000;
  /* font-weight: bold;*/
}


:host ::ng-deep .citaCancelada .iconos a {
  /* Si la cita ha sido cancelada, no debe mostrar ningún enlace */
  display: none;
}

:host ::ng-deep .citaCumplida {
  background-color: #c6ffac;
  color: green;
}
:host ::ng-deep .citaCumplida .iconos a:nth-child(2) img {
  /* Si la cita ha sido cumplida, no debe mostrar la papelera */
  display: none;
}

:host ::ng-deep .citaCumplida .iconos a:nth-child(1) img {
  /* Si la cita ha sido cumplida, sólo debe mostrar el abrir cita */
  margin-left: 10px;
}

:host ::ng-deep .citaEnCurso {
  background-color: #f6f886;
  color: #c97414;
}
:host ::ng-deep .citaEnCurso .iconos a:nth-child(1) img {
  /* Si la cita está en curso, no debe mostrar el abrir cita */
  display: none;
}

:host ::ng-deep .citaEnCurso .iconos a:nth-child(2) img {
  /* Si la cita está en curso, sólo debe mostrar la papelera */
  margin-right: 10px;
}

:host ::ng-deep .dataTables_scrollHeadInner {
  background-color: #b1b1b1;
  color: white;
}

:host ::ng-deep #historialPaciente_wrapper .row .dataTables_length,
:host ::ng-deep #historialPaciente_wrapper .row .dataTables_filter {
  margin-top: -20px;
  margin-bottom: 5px;
}

:host ::ng-deep .even:hover {
  background-color: #3569fd;
  cursor: pointer;
  color: white;
}
:host ::ng-deep .odd:hover {
  background-color: #3569fd;
  cursor: pointer;
  color: white;
}
:host ::ng-deep .even:hover a:nth-child(1) img {
  cursor: pointer;
  content: url("../../../../../assets/images/ImagenesMedico/iconoAbrirCitaBlanco.svg");
}

:host ::ng-deep .even:hover a:nth-child(2) img {
  cursor: pointer;
  content: url("../../../../../assets/images/ImagenesGenerales/papeleraBlanco.svg");
}

:host ::ng-deep .odd:hover a:nth-child(1) img {
  cursor: pointer;
  content: url("../../../../../assets/images/ImagenesMedico/iconoAbrirCitaBlanco.svg");
}

:host ::ng-deep .odd:hover a:nth-child(2) img {
  cursor: pointer;
  content: url("../../../../../assets/images/ImagenesGenerales/papeleraBlanco.svg");
}

:host ::ng-deep .table-hover tr:hover {
  background-color: #d3d3d3;
}

@media (max-width: 600px) {
  /* Resolución móvil */
  :host ::ng-deep #historialPaciente_filter input {
margin-top: 25px;
  }
}
/* Resolución medianas */
@media (max-width: 991px) {
  :host ::ng-deep #historialPaciente_filter input {
    width: 72%;
  }
}
