<!-- CAJAS INFORMACIÓN -->
<div class="text-center cajaTelefono">
    <p class="fs-5 fw-bold">Contacta con el hospital</p>
    <p>
        <img src="../../../../../assets/images/ImagenesPaciente/telefonoUrgenciaPaciente.svg" alt="" />
        Teléfono de <span style="color: red; font-weight: bold;">urgencia:</span> 961 114 000
    </p>
    <p style="margin-top: -15px;">
        <img src="../../../../../assets/images/ImagenesPaciente/telefonoHorarioPaciente.svg" />
        Teléfono de lunes a viernes: 961 114 000
    </p>
</div>

<div class="text-center cajaDireccion mt-3">
    <p class="fs-5 fw-bold">¿Dónde está el hospital?</p>
    <p>
        <img src="../../../../../assets/images/ImagenesPaciente/direccionHospitalPaciente.svg" />
        C/Beltrán Báguena, 8 - 46009 Valencia
    </p>
</div>