<div class="row mx-3 mt-2">
  <app-componente-botones-cabecera
    [tituloCabecera]="'Pedir cita'"
    [botonRetroceder]="true"
    [botonCrearCita]="false"
    [botonCancelar]="true"
    [botonSalirPaciente]="false"
    [rutaRetroceder]="'paciente'"
    [rutaCancelar]="'paciente'"
  ></app-componente-botones-cabecera>
</div>

<div class="row mx-4 mt-2">
  <app-componente-caja-blanca
    [mostrarUltimaPregunta]="true"
    [texto1]="'Tipo de cita'"
    [texto2]="'Selección de médico'"
    [texto3]="'Selección de hora'"
    [texto4]="'Citas disponibles'"
    [texto5]="'Resumen de los datos'"
    [estilosPaso1]="{ color: '#3b82f6' }"
    [estilosCuadradoPaso1]="{ 'background-color': '#3b82f6' }"
    [estilosPaso2]="{ color: '#b7b7b7' }"
    [estilosPaso3]="{ color: '#b7b7b7' }"
    [estilosPaso4]="{ color: '#b7b7b7' }"
    [estilosPaso5]="{ color: '#b7b7b7' }"
    [tituloSeccionFormulario]="'Seleccionar cita'"
    [descripcionTituloFormulario]="'Selecciona el tipo de cita'"
    [mostrarFormularioPrincipal]="true"
    [rutaProximoPaso]="'pedirCitaPaso2'"
    [rutaAnteriorPaso]="'pedirCita'"
    [mostrarCheckboxesPedirCita]="true"

    [textoLabel1] ="'Presencial - Medicina familiar'"
    [textoLabel2] ="'Telefónica	 - Medicina familiar'"
    
    [valueCheckbox1]="'Presencial - Medicina familiar'"
    [valueCheckbox2]="'Telefónica	 - Medicina familiar'"
  ></app-componente-caja-blanca>
</div>
