<div class="row">
  <app-componente-botones-cabecera [tituloCabecera]="'Eliminar Cita - ' + nombrePaciente" [botonRetroceder]="true"
    [botonCancelar]="true" [botonCrearCita]="false" [botonSalirPaciente]="false"
    [rutaRetroceder]="'administrativo/citas'" [rutaCancelar]="'administrativo/citas'"></app-componente-botones-cabecera>
</div>

<div class="row mt-2">
  <div class="col-md-12 eliminacion p-5 d-flex align-center justify-content-center text-center">
    <div class="pregunta">
      <p class="fw-bold fs-4">¿Está seguro que desea cancelar la cita</p>
      <p class="fw-bold fs-4 mt-2">de {{nombrePaciente}}?</p>

      <div class="d-flex justify-content-evenly mt-5 " style="margin-left: 20px;">
        <a class="btn btn-success botonSI" (click)="cancelarCita()" >Sí</a>
        <a class="btn btn-danger botonNO" href="administrativo/citas">Cancelar</a>
      </div>
    </div>
  </div>

</div>