<app-componente-botones-cabecera
  [tituloCabecera]="'Crear paciente'"
  [botonRetroceder]="true"
  [botonCancelar]="true"
  [botonCrearCita]="false"
  [botonSalirPaciente]="false"
  [rutaRetroceder]="'administrativo/citas'"
  [rutaCancelar]="'administrativo/citas'"

></app-componente-botones-cabecera>

<app-componente-caja-blanca
  [mostrarFormularioPrincipal]="true"
  [mostrarFormPrincipal]="false"
  [mostrarFormCrearPaciente]="true"
  [labelNuevoMedico]="'Especialidad'"
  [labelNuevaFecha]="'Fecha'"
  [labelNuevaHora]="'Horas Disponibles'"
  [texto1]="'Información paciente'"
  [texto2]="'Asignar contraseña'"
  [texto3]="'Confirmar datos'"
  [mostrarNuevoMedico]="true"
  [mostrarNuevaFecha]="true"
  [mostrarNuevaHora]="true"
  [estilosPaso1]="{ color: '#3b82f6' }"
  [estilosCuadradoPaso1]="{ 'background-color': '#3b82f6' }"
  [estilosPaso2]="{ color: '#b7b7b7' }"
  [estilosPaso3]="{ color: '#b7b7b7' }"
  [estilosPaso4]="{ color: '#b7b7b7' }"
  [rutaProximoPaso]="'crearPacientePaso2'"
  [mostrarBotonRetroceder]="false"
  [mostrarFormularioCrearPacientePaso1]="true"
></app-componente-caja-blanca>
